<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="logpath">build/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="main_appender" fileName="${logpath}/json.${sys:json.provider.short}.log"
			filePattern="${logpath}/json.%d{yyyy-MM-dd}.%i.log.gz"
			append="true">
			<PatternLayout>
				<pattern>%5p %d{yyyy-MM-dd HH:mm:ss,SSS} [%c] [%r] - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] [%c] [%r] - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.hibernate.SQL" level="debug" additivity="false">
			<AppenderRef ref="main_appender"/>
		</Logger>
		<Logger name="org.hibernate.type" level="trace" additivity="false">
			<AppenderRef ref="main_appender"/>
		</Logger>
		<Logger name="com.mopano.hibernate.test" level="trace" additivity="false">
			<AppenderRef ref="main_appender"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="main_appender"/>
		</Root>
	</Loggers>
</Configuration>
